In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('Dataset.csv')
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1
1,2,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1
2,3,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2
3,4,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3
4,5,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3

In [3]:
def splityear(string):
    string = string.split('-')
    return string[-1]

def splitmonth(string):
    string = string.split('-')
    return string[1]

def splitdate(string):
    string = string.split('-')
    return string[0]


df['Month'] = df['Date'].apply(lambda x:splitmonth(x))
df['Year'] = df['Date'].apply(lambda x:splityear(x))
df['Date_No'] = df['Date'].apply(lambda x:splitdate(x))

df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No
0,1,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,01,2020,30
1,2,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,01,2020,31
2,3,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,02,2020,01
3,4,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,02,2020,02
4,5,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,02,2020,03

In [4]:
df['Month'] = df['Month'].astype('int')
df['Year'] = df['Year'].astype('int')
df['Date_No'] = df['Date_No'].astype('int')

In [5]:
df.head()

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No
0,1,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30
1,2,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31
2,3,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,2,2020,1
3,4,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,2
4,5,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,3

In [6]:
df.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed', 'Month', 'Year', 'Date_No'],
      dtype='object')

In [7]:
df = df[['Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed', 'Month', 'Year', 'Date_No']]
df.columns = ['Date', 'Time', 'State',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed', 'Month', 'Year', 'Date_No']
df.head(2)

,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No
0,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30
1,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31

In [8]:
df_states = df['State'].unique()

In [9]:
max(df['Confirmed'])

1465911

In [10]:
latandlong = pd.read_csv('Indian Coordinates.csv')
latandlong.head()

     Name of State / UT   Latitude  Longitude  Unnamed: 3
0  Andaman And Nicobar   11.667026  92.735983         NaN
1        Andhra Pradesh  14.750429  78.570026         NaN
2    Arunachal Pradesh   27.100399  93.616601         NaN
3                Assam   26.749981  94.216667         NaN
4                Bihar   25.785414  87.479973         NaN

In [11]:
columns = latandlong.columns
columns

Index(['Name of State / UT', 'Latitude', 'Longitude', 'Unnamed: 3'], dtype='object')

In [12]:
latandlong = latandlong[['Name of State / UT', 'Latitude', 'Longitude']]
latandlong.columns = ['State','Latitude', 'Longitude']
states = list(latandlong['State'].unique())

In [13]:
latandlong.shape

(36, 3)

In [14]:
def replacestates(states):
    
    return states.replace(states[-1],'')


for i in range(len(states)):
    if states[i][-1]==' ':
        states[i] = replacestates(states[i])

In [15]:
data = df[df['State'].isin(states)]
data.head()

,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No
0,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30
1,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31
2,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,2,2020,1
3,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,2
4,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,3

In [16]:
for i in range(len(latandlong['State'].unique())):
    if latandlong['State'][i][-1]==' ':
        latandlong['State'][i] = replacestates(latandlong['State'][i])

C:\Users\meet\anaconda3\envs\tensorflow--new\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
latandlong['State'].unique()

array(['AndamanAndNicobar', 'Andhra Pradesh', 'ArunachalPradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'DadraAndNagarHaveli',
       'Delhi', 'Goa', 'Haryana', 'HimachalPradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'MadhyaPradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Pondicherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Telengana', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'WestBengal', 'Ladakh', 'Gujarat'], dtype=object)

In [18]:
len(list(data['State'].unique()))

28

In [19]:
latandlong.head()

               State   Latitude  Longitude
0  AndamanAndNicobar  11.667026  92.735983
1     Andhra Pradesh  14.750429  78.570026
2   ArunachalPradesh  27.100399  93.616601
3              Assam  26.749981  94.216667
4              Bihar  25.785414  87.479973

In [20]:
data_states = list(data['State'].unique())
notthere = []
for i in states:
    if i not in list(data['State'].unique()):
        notthere.append(i)
        
notthere

['AndamanAndNicobar',
 'ArunachalPradesh',
 'DadraAndNagarHaveli',
 'HimachalPradesh',
 'Lakshadweep',
 'MadhyaPradesh',
 'Pondicherry',
 'WestBengal']

In [21]:
df['State'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Puducherry', 'West Bengal', 'Chhattisgarh',
       'Chandigarh', 'Gujarat', 'Himachal Pradesh', 'Madhya Pradesh',
       'Bihar', 'Manipur', 'Mizoram', 'Andaman and Nicobar Islands',
       'Goa', 'Unassigned', 'Assam', 'Jharkhand', 'Arunachal Pradesh',
       'Tripura', 'Nagaland', 'Meghalaya', 'Nagaland#',
       'Dadar Nagar Haveli', 'Cases being reassigned to states', 'Sikkim',
       'Daman & Diu', 'Dadra and Nagar Haveli and Daman and Diu',
       'Telangana', 'Telangana***', 'Telengana***'], dtype=object)

In [22]:
latandlong['State'].unique()

array(['AndamanAndNicobar', 'Andhra Pradesh', 'ArunachalPradesh', 'Assam',
       'Bihar', 'Chandigarh', 'Chhattisgarh', 'DadraAndNagarHaveli',
       'Delhi', 'Goa', 'Haryana', 'HimachalPradesh', 'Jammu and Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep', 'MadhyaPradesh',
       'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland',
       'Odisha', 'Pondicherry', 'Punjab', 'Rajasthan', 'Sikkim',
       'Telengana', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'WestBengal', 'Ladakh', 'Gujarat'], dtype=object)

In [28]:
not_lat = {}
not_long = {}
for i in range(len(latandlong['State'].unique())):
    if latandlong['State'][i] in notthere:
        not_lat[latandlong['State'][i]] = latandlong['Latitude'][i]
        not_long[latandlong['State'][i]] = latandlong['Longitude'][i]

In [29]:
not_lat

{'AndamanAndNicobar': 11.66702557,
 'ArunachalPradesh': 27.10039878,
 'DadraAndNagarHaveli': 20.26657819,
 'HimachalPradesh': 31.10002545,
 'Lakshadweep': 10.56257331,
 'MadhyaPradesh': 21.30039105,
 'Pondicherry': 11.93499371,
 'WestBengal': 22.58039044}

In [25]:
lat_map = {}
long_map = {}
for i in range(len(latandlong['State'].unique())):
    if latandlong['State'][i] in data_states:
        lat_map[latandlong['State'][i]] = latandlong['Latitude'][i]
        long_map[latandlong['State'][i]] = latandlong['Longitude'][i]

In [26]:
data['Latitude'] = data['State'].map(lat_map)
data['Longitude'] = data['State'].map(long_map)

C:\Users\meet\anaconda3\envs\tensorflow--new\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\meet\anaconda3\envs\tensorflow--new\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
df_state = list(df['State'].unique())
data_state = list(data['State'].unique())
not_there = []
for i in df_state:
    if i not in data_state:
        not_there.append(i)

In [37]:
not_there

['Puducherry',
 'West Bengal',
 'Himachal Pradesh',
 'Madhya Pradesh',
 'Andaman and Nicobar Islands',
 'Unassigned',
 'Arunachal Pradesh',
 'Nagaland#',
 'Dadar Nagar Haveli',
 'Cases being reassigned to states',
 'Daman & Diu',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Telangana',
 'Telangana***',
 'Telengana***']

In [39]:
notthere = list(not_lat.keys())
notthere

['AndamanAndNicobar',
 'ArunachalPradesh',
 'DadraAndNagarHaveli',
 'HimachalPradesh',
 'Lakshadweep',
 'MadhyaPradesh',
 'Pondicherry',
 'WestBengal']

In [42]:
use_karo_lat = {}
use_karo_long = {}
for i in range(len(not_there)):
    for j in range(len(notthere)):
        if not_there[i][:4]==notthere[j][:4]:
            use_karo_lat[not_there[i]]=not_lat[notthere[j]]
            use_karo_long[not_there[i]] = not_long[notthere[j]]

In [44]:
use_karo_lat

{'West Bengal': 22.58039044,
 'Himachal Pradesh': 31.10002545,
 'Madhya Pradesh': 21.30039105,
 'Andaman and Nicobar Islands': 11.66702557,
 'Arunachal Pradesh': 27.10039878,
 'Dadra and Nagar Haveli and Daman and Diu': 20.26657819}

In [50]:
use_karo = {}
for i in range(len(not_there)):
    for j in range(len(notthere)):
        if not_there[i][:4]==notthere[j][:4]:
            use_karo[not_there[i]]=notthere[j]

In [51]:
use_karo

{'West Bengal': 'WestBengal',
 'Himachal Pradesh': 'HimachalPradesh',
 'Madhya Pradesh': 'MadhyaPradesh',
 'Andaman and Nicobar Islands': 'AndamanAndNicobar',
 'Arunachal Pradesh': 'ArunachalPradesh',
 'Dadra and Nagar Haveli and Daman and Diu': 'DadraAndNagarHaveli'}

In [ ]:
for i in range()

In [45]:
data.head()

,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No,Latitude,Longitude
0,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30,8.900373,76.569993
1,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31,8.900373,76.569993
2,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,2,2020,1,8.900373,76.569993
3,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,2,8.900373,76.569993
4,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,3,8.900373,76.569993

In [48]:
data['State'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Bihar',
       'Manipur', 'Mizoram', 'Goa', 'Assam', 'Jharkhand', 'Tripura',
       'Nagaland', 'Meghalaya', 'Sikkim'], dtype=object)

In [ ]:
for i in range(data['State'].unique()):

In [46]:
dummy = data.copy()
dummy['Latitude'] = data['State'].map(use_karo_lat)
dummy['Longitude'] = data['State'].map(use_karo_long)

In [47]:
dummy.head()

,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No,Latitude,Longitude
0,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30,NaN,NaN
1,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31,NaN,NaN
2,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,2,2020,1,NaN,NaN
3,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,2,NaN,NaN
4,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,3,NaN,NaN

In [52]:
lat_map = {}
long_map = {}
for i in range(len(latandlong['State'].unique())):
    if latandlong['State'][i] in data_states:
        lat_map[latandlong['State'][i]] = latandlong['Latitude'][i]
        long_map[latandlong['State'][i]] = latandlong['Longitude'][i]

In [53]:
dummy['Latitude'] = dummy['State'].map(lat_map)
dummy['Longitude'] = dummy['State'].map(long_map)

In [54]:
dummy['State'].unique()

array(['Kerala', 'Telengana', 'Delhi', 'Rajasthan', 'Uttar Pradesh',
       'Haryana', 'Ladakh', 'Tamil Nadu', 'Karnataka', 'Maharashtra',
       'Punjab', 'Jammu and Kashmir', 'Andhra Pradesh', 'Uttarakhand',
       'Odisha', 'Chhattisgarh', 'Chandigarh', 'Gujarat', 'Bihar',
       'Manipur', 'Mizoram', 'Goa', 'Assam', 'Jharkhand', 'Tripura',
       'Nagaland', 'Meghalaya', 'Sikkim'], dtype=object)

In [55]:
dummy.head()

,Date,Time,State,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed,Month,Year,Date_No,Latitude,Longitude
0,30-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,30,8.900373,76.569993
1,31-01-2020,18:00:00,Kerala,1.0,0.0,0,0,1,1,2020,31,8.900373,76.569993
2,01-02-2020,18:00:00,Kerala,2.0,0.0,0,0,2,2,2020,1,8.900373,76.569993
3,02-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,2,8.900373,76.569993
4,03-02-2020,18:00:00,Kerala,3.0,0.0,0,0,3,2,2020,3,8.900373,76.569993

In [58]:
dummy.to_csv('coviddata.csv')